.mainBlock {
    width: 100%;
    height: 700px;
    margin-top: 0px;
    padding-top: 140px;
    background: -webkit-linear-gradient(white, grey, black);
    background: -o-linear-gradient(white, grey, black);
    background: -moz-linear-gradient(white, grey, black);
    background: linear-gradient(white, grey, black);
}

.outBlock {
    margin: auto;
    margin-top: 140px;
    width: 70px;
    height: 70px;
    background-color: black;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-delay: 2s;
}

@keyframes spin {
    0% {
        transform: rotate(36deg);
    }
    10% {
        transform: rotate(72deg);
    }
    20% {
        transform: rotate(108deg);
    }
    30% {
        transform: rotate(144deg);
    }
    40% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(216deg);
    }
    60% {
        transform: rotate(252deg);
    }
    70% {
        transform: rotate(288deg);
    }
    80% {
        transform: rotate(324deg);
    }
    90% {
        transform:rotate(360deg);
    }
    100% {
        
    }
}

@font-face {

}