@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="home">
            <div class="header"> Welcome to Cuyahoga Community College Student Services Online</div>
            <div class="subheader"> Cuyahoga Community College recongizes students' rights to access personal and academic records
                    in accordance with the Family Educational Rights and Privacy Act of 1974 (FERPA) as ammended by Public Law 93-568.</div>
            <div class="view firstView">
                <div class="haveAccount">
                    <div class="description descriptLogin">Already have an account with us? Returning users may log in by entering their site username and password.</div>
                    <div class="loginInfo">
                        <div class="label">Username</div>
                        <input class="loginUsername"type="text" value="" />
                        <div class="label">Password</div>
                        <input class="loginPassword"type="text" value="" />
                        <div class="error logIn">The information you entered was invalid. Please try again.</div>
                        <button class="loginButton button" type="button">Log In</button>
                    </div>
                </div> 

                <div class="createAccount">   
                    <div class="description descriptCreate">New users, please create a new account by providing us with some basic information.</div>
                    <div class="createInfo">
                        <div class="label">Username</div>
                        <input class="new createUsername"type="text" value="" />
                        <div class="error create">The username you entered already exists.</div>
                        <div class="label">Password</div>
                        <input class="new createPassword"type="text" value="" />
                        <div class="error create">Password must be at least 6 characters.</div>
                        <div class="label">E-Mail Address</div>
                        <input class="new createEmail" type="text" value="" />
                        <div class="label">Repeat E-Mail Address</div>
                        <input class="verifyEmail" type="text" value="" />
                        <div class="success create">Account Creation Succesful. You may log in.</div>
                        <button class="new createAccountButton button" type="button">Create Account</button>
                    </div>
                </div>
            </div>

        <div class="accountPage">
            <div class="view secondView">
                <div class="information">
                    <div class="infoTitle">
                        <div class="label userame">AccountName</div>
                        <div class="label">EmailAddress</div>
                        <div class="label">CurrentGPA</div>
                    </div>
                    <div class="infoAccount">
                        <div class="current name">Name</div>
                        <div class="current email">
                            <input class="accountEmail" type="text" value=""/>
                            <button class="updateEmail button" type="button">Update</button>
                        </div>
                        <div class="current gpa">
                            <input class="accountGPA" type="text" value="" />
                            <button class="updateGPA button" type="button">Update</button>
                        </div>
                    </div>
                </div>
                <div class="elements">
                    <div class="element">
                        <div class="label">ElementName</div>
                        <input class="accountElement" type="text" value="" />
                    </div>
                    <div class="element">
                        <div class="label">ElementValue</div>
                        <input class="accountElement" type="text" value="" />
                    </div>
                    <div class="element">
                        <button type="button" class="addElement button">Add</button>
                    </div>
                </div>
            </div>
            <div class="footer">Cuyahoga Community College<br />700 Carnegie Ave, Cleveland, Ohio 44115</div>
        </div>
        </div>

    </body>

</html>