@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="home">
            <div class="header"> Welcome to Cuyahoga Community College Student Services Online</div>
            <div class="subheader"> Cuyahoga Community College recongizes students' rights to access personal and academic records
                    in accordance with the Family Educational Rights and Privacy Act of 1974 (FERPA) as ammended by Public Law 93-568.</div>
            <div class="firstView">
                <div class="haveAccount">
                    <div>Already have an account with us? Returning users may log in by entering their site username and password.</div>
                    <div>Username</div>
                    <input class="loginUsername"type="text" value="" />
                    <div>Password</div>
                    <input class="loginPassword"type="text" value="" />
                    <button class="loginButton" type="button">Log In</button>
                </div> 
                <div class="createAccount">   
                    <div>New users, please create a new account by providing us with some basic information.</div>
                    <div>Username</div>
                    <input class="createUsername"type="text" value="" />
                    <div>Password</div>
                    <input class="createPassword"type="text" value="" />
                    <div>E-Mail Address</div>
                    <input class="createEmail" type="text" value="" />
                    <div>Repeat E-Mail Address</div>
                    <input class="verifyEmail" type="text" value="" />
                    <button class="createAccountButton" type="button">Create Account</button>
                </div>
            </div>

        <div class="accountPage">
            <div class="secondView">
                <div class="information"></div>
                <div class="elements">
                    <div class="element">
                        <div class="label">ElementName</div><input class="accountElement" type="text" value="" />
                    </div>
                    <div class="element">
                        <div class="label">ElementValue</div><input class="accountElement" type="text" value="" />
                    </div>
                    <div class="element">
                        <button type="button" class="addElement">Add</button>
                    </div>
                </div>
            </div>
            <div class="footer">Cuyahoga Community College<br />700 Carnegie Ave, Cleveland, Ohio 44115</div>
        </div>
        </div>

    </body>

</html>